<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand no-underline" href="/principal">
            <div class="container-logo">
                <h4>Telconet</h4>
            </div>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Admistración de Producto
            </li>

            <li id="dashboard-item" class="sidebar-item">
                <a class="sidebar-link" href="/principal/productos">
                    <i class="fas fa-tag"></i>
                    <span class="align-middle">Producto</span>
                </a>
            </li>


        </ul>
    </div>
</nav>