<div class="card">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-md-8">
                <h5>INFORMACIÓN DE PRODUCTOS</h5>
            </div>
            <div class="col-md-4">
                <button (click)="openModalRegistrar(AgregarProducto)" class="ms-2 btn btn-primary">
                    <span>Nuevo Producto <i class="fas fa-plus"></i></span>
                </button>
                <button (click)="openModalRegistrar(Email)" class="ms-2 btn btn-primary" title="Cobro una parte - cuenta por cobrar">
                    <i class="fas fa-envelope"></i>
                </button>

            </div>
        </div>
        <br>
        <h6>Filtros </h6>
        <hr>
        <div class="row mb-2">
            <div class="col-md-3">
                <label class="labelForm">Nombre</label>
                <input class="form-control inputForm mt-2" [(ngModel)]="nombre" (input)="filtrar()" type="text">
            </div>
            <div class="col-md-2">
                <label class="labelForm">Valor</label>
                <input class="form-control inputForm mt-2" [(ngModel)]="valor" (input)="filtrar()" type="number">
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <label class="labelForm">Estado </label>
                    <select class="form-select mt-2" [(ngModel)]="estado" (ngModelChange)="filtrar()">
                        <option value="0">Todos</option>
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-3">
                <label class="labelForm">Fecha de Creacion</label>
                <input class="form-control inputForm mt-2" [(ngModel)]="fechaIngreso" (input)="filtrar()" type="date">
            </div>
            <div class="col-md-3">
                <label class="labelForm">Fecha de Venta</label>
                <input class="form-control inputForm mt-2" [(ngModel)]="fechaVenta" (input)="filtrar()" type="date">
            </div>

        </div>
        <hr>
        <div>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Nombres</th>
                            <th>Valor</th>
                            <th>Fecha Creacion</th>
                            <th>Fecha Venta</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of ProductoListFiltrada | paginate: { itemsPerPage: registrosPorPagina, currentPage: paginaActual }">
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.valor}}</td>
                            <td>{{producto.fechaCreacion}}</td>
                            <td>{{producto.fechaVenta}}</td>
                            <td>
                                <button class=" btn btn-success btn-sm" (click)="openModalProductoDetalles(DetallesProducto,producto)" [disabled]="producto.estado === 'Inactivo'"><i
                                        class="fas fa-plus-circle"></i></button>

                                <button class="mx-2 btn btn-warning btn-sm" (click)="openModalSubirImagen(SubirImagen,producto.idProducto)" [disabled]="producto.estado === 'Inactivo'"><i class="fas fa-image"></i></button>

                                <button *ngIf="producto.estado === 'Inactivo'" class="btn btn-success btn-sm" (click)="activarProducto(producto.idProducto)">
                                    <i class="fas fa-check"></i>
                                </button>

                                <button *ngIf="producto.estado !== 'Inactivo'" class="btn btn-danger btn-sm" (click)="desactivarProducto(producto.idProducto)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="pagination">
                    <pagination-controls (pageChange)="paginaActual=$event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #AgregarProducto>
    <form [formGroup]="crearProductoForm" (ngSubmit)="registrarProductos()">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Registrar Producto</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row mb-2">
                <div class="col-md-6">
                    <label id="labelNames" class="labelForm">Nombre <span class="required">*</span></label>
                    <input class="form-control inputForm" formControlName="nombre" type="text" required>
                </div>
                <div class="col-md-6">
                    <label id="labelNames" class="labelForm">Descripcion <span class="required">*</span></label>
                    <input class="form-control inputForm" formControlName="descripcion" type="text" required>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-6">
                    <label id="labelNames" class="labelForm">Valor <span class="required">*</span></label>
                    <input class="form-control inputForm" formControlName="valor" type="number" required>
                </div>
                <div class="col-md-6">
                    <label id="labelNames" class="labelForm">Marca <span class="required">*</span></label>
                    <input class="form-control inputForm" formControlName="marca" type="text" required>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-6">
                    <label id="labelNames" class="labelForm">Fecha de Venta <span class="required">*</span></label>
                    <input class="form-control inputForm" formControlName="fechaVenta" type="date" required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Guardar </button>
            <button type="button" class="btn btn-warning" (click)="limpiarModal()">Limpiar</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>

        </div>
    </form>
</ng-template>

<ng-template #DetallesProducto>
    <form [formGroup]="detallesProductoForm">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Datelles Producto</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row mb-2">
                <div class="col-md-6">
                    <label id="labelNames" class="labelForm">Nombre <span class="required"></span></label>
                    <input class="form-control inputForm" formControlName="nombre" type="text">
                </div>
                <div class="col-md-6">
                    <label id="labelNames" class="labelForm">Descripcion <span class="required"></span></label>
                    <textarea class="form-control inputForm" formControlName="descripcion"></textarea>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-6">
                    <label id="labelNames" class="labelForm">Valor <span class="required"></span></label>
                    <input class="form-control inputForm" formControlName="valor" type="number">
                </div>
                <div class="col-md-6">
                    <label id="labelNames" class="labelForm">Marca <span class="required"></span></label>
                    <input class="form-control inputForm" formControlName="marca" type="text">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-6">
                    <label id="labelNames" class="labelForm">Fecha de Creacion <span class="required"></span></label>
                    <input class="form-control inputForm" formControlName="fechaCreacion" type="input" required>
                </div>
                <div class="col-md-6">
                    <label id="labelNames" class="labelForm">Fecha de Venta <span class="required"></span></label>
                    <input class="form-control inputForm" formControlName="fechaVenta" type="input" required>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-6">
                    <label id="labelNames" class="labelForm">Imagen <span class="required"></span></label>
                    <div *ngIf="imagenUrl">
                        <img [src]=" imagenUrl" style="width: 100px; height: 100px; ">
                    </div>
                    <br>
                    <span *ngIf="!imagenUrl">
                        Sin imagen. Cargue una porfavor
                    </span>
                </div>
            </div>
        </div>
        <div class=" modal-footer ">
            <button type="button" class="btn btn-secondary" (click)="closeModal() ">Cerrar</button>

        </div>
    </form>
</ng-template>

<ng-template #SubirImagen>
    <form (ngSubmit)="subirImagen() ">
        <div class="modal-header ">
            <h4 class="modal-title pull-left ">Subir Imagen</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal() ">
                <span aria-hidden="true ">&times;</span>
            </button>
        </div>
        <div class="modal-body ">
            <div class="col-md-8 ">
                <label class="labelForm" name="imagen ">Imagen <span class="required ">*</span></label>
                <input class="form-control inputForm" enctype="multipart/form-data" (change)="onFileSelected($event)" type="file" required>
            </div>
        </div>
        <div class="modal-footer ">
            <button type="submit" class="btn btn-success ">Guardar </button>
            <button type="button" class="btn btn-secondary" (click)="closeModal() ">Cerrar</button>
        </div>
    </form>
</ng-template>

<ng-template #Email>
    <form [formGroup]="emailForm" (ngSubmit)="enviarCorreo() ">
        <div class="modal-header ">
            <h4 class="modal-title pull-left ">Enviar Email</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal() ">
                <span aria-hidden="true ">&times;</span>
            </button>
        </div>
        <div class="modal-body ">
            <div class="col-md-8 ">
                <label class="labelForm" name="imagen ">Correo <span class="required ">*</span></label>
                <input class="form-control inputForm" formControlName="correo" type="text">
            </div>
            <div class="col-md-8 ">
                <label class="labelForm" name="imagen ">Mensaje <span class="required ">*</span></label>
                <textarea class="form-control inputForm" formControlName="mensaje"></textarea>
            </div>
        </div>
        <div class="modal-footer ">
            <button type="submit" class="btn btn-success ">Enviar </button>
            <button type="button" class="btn btn-secondary" (click)="closeModal() ">Cerrar</button>
        </div>
    </form>
</ng-template>