@import './app/cpanel/cpanel.component.css';

/* You can add global styles to this file, and also import other style files */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.521);
    z-index: 1100;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lspinner {}